
:root {
  --baby-pink: rgba(248, 190, 204, 1);
  --navy: rgba(50, 59, 76, 1);
  --blue: rgba(54, 59, 103, 1);
  --pink: #d38498;
  --gold: rgba(255, 214, 186, 1);
  --bg-white-pink: #ffe6e6;
  --bg-white-gold: rgba(255, 234, 223, 1);
  --typography-navy: #051122;
  --variable-collection-white-pink: rgba(252, 219, 222, 1);
  --variable-collection-white-gold: rgba(249, 229, 224, 1);

}

